-@font-face {
    font-family: gotham;
    src: url('./font/GothamBold.ttf');
}

body{
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: gotham;
    

}
.container{
    width: 99vw;
    position: relative;
    left: 49%;
    transform: translateX(-50%);
    background:none;
}
nav{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: top;
    grid-template-columns: 25% 75%;
    column-gap: 50px;
    border-radius: 9px;
    overflow: hidden;
    padding: 20px;
    gap: 20px;
    
}

.maindiv{
    
    text-align: center;
    height: 95vh;
    border-radius: 11px;
    margin-left: 11px;
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 1rem;
    overflow: hidden;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    
}
.secondarydiv{
    background-color: rgb(19, 17, 17,0.3);
    text-align: center;
    height: 8vh;
    margin-right: 17px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 4rem;
    padding-right:50px ;
    transition: all 700ms ease-in-out;
    overflow: hidden;
}
#auth{
    background-color: rgba(41, 38, 38, 0.825);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    border-radius: 14px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(7px);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#auth:hover{
    background-color: black;
    opacity: 0.8;
}
#auth-2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    border-radius: 21px;
    color: black;
    backdrop-filter: blur(7px);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
#auth-2:hover{
    background-color: rgba(255, 255, 255, 0.553);
}
#Logo{
    background-color: rgba(28, 27, 27, 0.886);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 1rem;
    border-radius: 9px;
    
}

#ScrollLog{
    background-color: rgba(128, 128, 128, 0.381);
}
#text{
    opacity: 0.7;
    color: white;
    transition: all 250ms ease-in-out;
}
#text:hover{
 opacity:1;
}


#scrollbar{
    height: 150px;
    width: 300px;
    
    background-color: rgb(41, 38, 38);
    margin: auto;
    margin-bottom: 12px;
    border-radius: 11px;
}
.box2::-webkit-scrollbar{
    width: 10px;
    background-color:rgba(172, 255, 47, 0.06);
    border-radius: 7px;
}
.box2::-webkit-scrollbar-thumb{
    background-color: rgba(172, 255, 47, 0.081);
}

#card{
    position: relative;
    background-color:rgba(48, 46, 46, 0.7);
    height: 15vh;
    width: 100%;
    border-radius: 11px;
    
}

#playbutton{
    position: absolute;
    left: 3.2%;
    top: 80%;
    height: 20px;
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;

}

.leftcontainer{
    display: grid;
    grid-template-rows:10% 40% 50% ;
    gap: 1rem;
    border-radius: 11px;
    background-color: rgba(28, 27, 27, 0.886);
}
.box{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    box-shadow: 10px 15px 15px 12px rgba(28, 27, 27, 0.886);
    position: static;
    z-index: 2;
}
.box2{
    overflow-y: auto;
    position: sticky;
    z-index: 1;
}
#box1btn:hover{
    opacity: 0.8;
    scale: 1.08;
    cursor: pointer;
}
#leftfooter:hover{
    color: white;
}
#leftfooter{
    transition: color 250ms ease-in-out;
    cursor: pointer;
}
#content{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.playlist{
    overflow-y: auto;
    overflow-x: hidden;
}
.playlist>h1{
    font-weight: 900;
    font-size: 26px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: rgba(0, 0, 0, 0.7);
    height:60px ;
    width: 50vw;
    position: absolute;
    left: 50%;
    border-radius: 21px;
    transform: translate(-50%);
    overflow: hidden;
    position: relative;
    bottom: -2.5rem;
}
.song{
    display: flex;
    max-width: 100%;
    gap: 40px;
    justify-content: start;
    align-items: center;
    overflow-x: auto;  
    padding-right: 120px;
    white-space: nowrap;
}
.song::-webkit-scrollbar {
    width: 1px;
}

.song::-webkit-scrollbar-track {
    background: transparent;
}

.song::-webkit-scrollbar-thumb {
    background: transparent;
}
.box1{
    min-height: 400px;
    min-width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    transition: all 300ms ease-out;
    background-Color:rgba(255, 255, 255, 0.167);
    position:relative;
}
.box1>img{
    border-radius: 21px;
    transform: translate(0,7px);
}
.box1:hover{
    background-Color:rgba(255, 255, 255, 0.3)
}
#play{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 75%;
    top: 63%;
    opacity: 0;
    transition: all 400ms ease-out;

}
.box1:hover>#play{
    opacity: 1;
    top: 60%;
}

#play:hover{
    transform: scale(1.1);
}

#play2{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 75%;
    top: 63%;
    opacity: 0;
    transition: all 400ms ease-out;

}
.box1:hover>#play2{
    opacity: 1;
    top: 60%;
}

#play2:hover{
    transform: scale(1.1);
}

#play3{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 75%;
    top: 63%;
    opacity: 0;
    transition: all 400ms ease-out;

}
.box1:hover>#play3{
    opacity: 1;
    top: 60%;
}

#play3:hover{
    transform: scale(1.1);
}
#play4{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 75%;
    top: 63%;
    opacity: 0;
    transition: all 400ms ease-out;

}
.box1:hover>#play4{
    opacity: 1;
    top: 60%;
}

#play4:hover{
    transform: scale(1.1);
}
#progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ccc;
    top: 90%;
    transition: all 500ms ease-out;
  }
  
  .play-pause-button {
    position: fixed;
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .right-flow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  #frame{
    background-color: black;
    height: 400px;
    width: 350px;
    border-radius: 21px;
  }

  .sideprogress{
    background-color: aqua;
    width: 80%;
    height: 40px;
  }
  .playlist-heading{
    height: 250px;
    width: 100%;
    background-color: rgba(135, 207, 235, 0.201);
    padding: 25px;
    display: flex;
    gap: 1rem;
   
  }
  .playlist-btn{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    transform: translateY(10px);
    

    
  }
  .playlistpng{
    transition: all 400ms ease-out;
  }
  .playlistpng:hover{
    transform: scale(1.1);
  }
  .songcontainer{
    width: 100%;
    overflow-y: auto;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
  }